:root {
  /* colors */
  --accent-color: #ff8000;
  --grey-color: #f5f5f5;
  --white-color: #ffffff;
  --red-color: #ff181f;
  --yellow-color: #ffc800;
  --green-darked-color: #4d8b31;
  --green-color: #10cc10;
  --violet-color: #6610f2;

  /* text colors */
  --text: #252525;
  --grey-text: #999;

  /* border colors */
  --grey-border-color: #e8e8e8;

  /* transition */
  --trs: all 0.6s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  position: relative;
  min-width: 320px;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
.wrapper {
  position: relative;
  padding-bottom: 50px;
}
.logotype {
  display: block;
  max-width: 200px;
}
.logotype img {
  max-width: 100%;
  height: auto;
}
.text-white {
  color: var(--white-color);
}
.text-center {
  text-align: center;
}
.visible-sm {
  display: none;
}
@media only screen and (max-width: 767px) {
  .visible-sm {
    display: block;
  }
}
@media only screen and (max-width: 576px) {
  .logotype {
    max-width: 160px;
  }
}
